body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f2f5;
}

.sidebar-container {
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8e44ad; 
    color: white;
    width: 60px; 
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    transition: width 0.4s ease-in-out;
}

.menu-item:hover {
    width: 300px; /
}

.menu-icon {
    min-width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    order: 2; 
}

.menu-text {
    font-size: 20px;
    padding-left: 15px;
    white-space: nowrap;
    opacity: 0;
    font-weight: 500;
    transition: opacity 0.3s ease;
    order: 1;
}

.menu-item:hover .menu-text {
    opacity: 1;
}