body {
  margin: 0;
  overflow: hidden;
  background-color: #f4f4f4;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.box {
  width: 220px;
  height: 120px;
  position: absolute;
  border-radius: 8px;
  animation: moveBox 10s linear infinite alternate;
}

@keyframes moveBox {
  /* Left Side Top */
  0% {
    top: 10px;
    left: 10px;
    transform: rotate(0deg);
    background-color: #0000ff;
  }

  /* Right Side Top */
  25% {
    top: 10px;
    left: calc(100vw - 120px - 100px);
    transform: rotate(180deg);
    background-color: #ffff00;
  }

  /* Right Side Bottom */
  50% {
    top: calc(100vh - 120px - 50px);
    left: calc(100vw - 220px);
    transform: rotate(360deg);
    background-color: #ff0000;
  }

  /* Left Side Bottom */
  75% {
    top: calc(100vh - 120px - 50px);
    left: 20px;
    transform: rotate(180deg);
    background-color: #ff8c00;
  }

  /* Left Side Top */
  100% {
    top: 10px;
    left: 10px;
    transform: rotate(0deg);
    background-color: #ff1493;
  }
}